<mat-sidenav-container class="sidenav-container fade-in">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
       <button
        type="button"
        aria-label="Close sidenav"
        class="close-menu-button"
        mat-icon-button
        (click)="drawer.close()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
    </button>
    <div class="logo-text" [ngClass]="(isHandset$ | async) ? 'logo-margin-top' : ''"><app-logo /></div>
    <div class="action-area-container">
      <mat-nav-list (click)="isHandset && drawer.toggle()">
        <a mat-list-item routerLink={{navigationLinks.MyCollections}} [routerLinkActive]="['is-active']" >My collections</a>
        <a mat-list-item routerLink={{navigationLinks.FavoriteCollections}} [routerLinkActive]="['is-active']">Faved collections</a>
        <a mat-list-item routerLink={{navigationLinks.Browse}} [routerLinkActive]="['is-active']">Browse</a>
      </mat-nav-list>
      <div *ngIf="user" class="user-info">
        <img src={{user.photoURL}}/>
        <div class="user-info-text-container">
          <div class="user-name">{{user.displayName}}</div>
          <button mat-button color="accent" (click)="logOut()">
            <mat-icon>logout</mat-icon>
            Log out
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle sidenav"
      class="menu-button"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="content-area-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
