<ng-container *ngIf="selectedCollection">
    <h2>Edit collection</h2>
    <mat-card>
        <form [formGroup]="editCollectionForm" (ngSubmit)="save()">
            <mat-form-field class="form-field">
                <mat-label>Title (mandatory)</mat-label>
                <input matInput formControlName="title">
                <mat-error *ngIf="saveAttempt && title && title.errors?.['required']">Collection must contain title ☝️ </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" ></textarea>
            </mat-form-field>
            <mat-checkbox class="checkbox" formControlName="public" color="primary">Visible to others</mat-checkbox>
            <div class="links-header">
                <h3>Links</h3>
                <button mat-raised-button color="primary" class="add-link-button" (click)="promptAddLink()">
                    <mat-icon>add</mat-icon>
                    Add link
                </button>
            </div>
            <mat-list role="link">
                <ng-container *ngFor="let link of editCollectionForm.value.links;let first = first;">
                    <mat-divider *ngIf="first"></mat-divider>
                    <mat-list-item role="listitem" >
                        <div class="list-item-container">
                            <span matListItemTitle><button mat-button color="primary" (click)="goToLink(link)">{{link}}</button></span>
                            <button mat-icon-button color="accent" (click)="deleteLink(link)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list >
            <div class="right-aligned-button-container">
                <button mat-raised-button color="primary" class="save-button">
                    <mat-icon>save</mat-icon>
                    Save
                </button>
            </div>
        </form>
    </mat-card>
</ng-container>
<p *ngIf="!selectedCollection">Nothing to see here 🤷</p>