<ng-container *ngIf="selectedCollection">
    <app-page-header>
        <h2>Edit collection</h2>
    </app-page-header>
    <form [formGroup]="editCollectionForm" (ngSubmit)="save()" class="fade-in">
        <mat-card class="card">
            <mat-form-field class="form-field">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" [cdkTrapFocusAutoCapture]="show" [cdkTrapFocus]="show">
                <mat-error *ngIf="saveAttempt && title && title.errors?.['required']">Collection must contain title ☝️ </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" ></textarea>
            </mat-form-field>
            <mat-checkbox class="checkbox" formControlName="public" color="primary">Visible to others</mat-checkbox>
        </mat-card>
        <div class="links-header">
            <h3>Links</h3>
            <button mat-button color="primary" class="add-link-button" type="button" (click)="promptAddLink()">
                <mat-icon>add</mat-icon>
                Add link
            </button>
        </div>
        <mat-card>
            <mat-list role="link"  *ngIf="editCollectionForm.value.links && editCollectionForm.value.links.length > 0; else emptyState">
                <ng-container *ngFor="let link of editCollectionForm.value.links;let first = first;">
                    <mat-list-item role="listitem" >
                        <div class="list-item-container">
                            <span matListItemTitle><button mat-button color="primary" (click)="goToLink(link)">{{link}}</button></span>
                            <button mat-icon-button color="accent" (click)="deleteLink(link)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list >
             <ng-template #emptyState>
                <div class="info-banner-container">
                    <app-info-banner>To add link click the button above on the right hand side with a little plus sign on it</app-info-banner>
                </div>
            </ng-template>
            <div class="right-aligned-button-container">
                <button mat-raised-button color="primary" class="save-button">
                    <mat-icon>save</mat-icon>
                    Save changes
                </button>
            </div>
        </mat-card>
    </form>
</ng-container>
<app-spinner *ngIf="!selectedCollection" />