<ng-container *ngIf="selectedCollection">
    <h2>Edit collection</h2>
    <form [formGroup]="editCollectionForm" (ngSubmit)="save()">
        <mat-form-field style="width:100%">
            <mat-label>Title (mandatory)</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="saveAttempt && title && title.errors?.['required']">Collection must contain title ☝️ </mat-error>
        </mat-form-field>
        <!-- <div style="display:flex; flex-direction: column; margin-bottom: 10px">
            <span>Description:</span>
            <textarea formControlName="description" name="" id="" cols="30" rows="10"></textarea>
        </div> -->
        <mat-form-field style="width:100%">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" ></textarea>
        </mat-form-field>
        <div>
            <span>Visible to others:</span>
            <input formControlName="public" type="checkbox" />
        </div>
        <a href="javascript:void(0)" style="display:block; margin-top:10px" (click)="promptAddLink()">+ Add new link</a>
        <ul>
            <li *ngFor="let link of editCollectionForm.value.links">
                <a href="{{link}}" target="_blank">{{link}}</a> [<a href="javascript:void(0)" (click)="deleteLink(link)">- Remove link</a>]
            </li>
        </ul>
        <div style="display:flex; flex-direction:row-reverse ;width: 100%; margin-top: 10px; margin-bottom: 10px">
            <button>Save</button>
        </div>
    </form>
</ng-container>