
.info-banner-container {
    background-color: #f6f6f6;
    border-radius: 1rem;
    padding: 1rem;
    display:flex;
    justify-content: center;
}

.info-banner-icon {
     color:rgb(239 206 159)
}
.info-banner-text {
    color: #5a5a5a;
    line-height: 1.6;
    margin-left: 0.5rem;
}