<mat-card>
    <mat-list>
        <ng-container *ngFor="let collection of collection$ | async;let last = last;">
        <div class="collection-item-container">
            <mat-list-item >
                <span matListItemTitle>
                    <button mat-button color="primary" routerLink="{{collection?.['id']}}">{{collection?.['title']}}</button>
                </span>
                <span class="collection-description-container">{{collection?.['description']}}</span>
            </mat-list-item>
            <div  *ngIf="editable" class="collection-action-container">
                <button mat-icon-button color="primary" aria-label="Edit collection"
                    routerLink="{{collection?.['id'] + '/edit'}}">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="Delete collection"
                    (click)="promptDeleteCollection(collection?.['id'])">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
    </mat-list>
</mat-card>