    <div *ngIf="collections && collections.length > 0; else emptyState">
        <mat-card>
            <mat-list>
                <ng-container *ngFor="let collection of collections;let last = last">
                    <div class="collection-item-container">
                        <mat-list-item >
                            <span matListItemTitle>
                                <button mat-button color="primary" routerLink="{{collection?.['id']}}">{{collection?.['title']}}</button>
                            </span>
                            <span class="collection-description-container">{{collection?.['description']}}</span>
                        </mat-list-item>
                        <ng-container *ngTemplateOutlet="actions || null; context: {$implicit: collection}"></ng-container>
                    </div>
                    <mat-divider *ngIf="!last"></mat-divider>
                </ng-container>
            </mat-list>
        </mat-card>
    </div>
    <ng-template #emptyState>
        <app-no-collections-state [description]="emptyDescription"
            [hint]="emptyHint" />
    </ng-template>