<app-page-header>
    <h2>My collections</h2>
    <app-responsive-button
        label="New collection"
        icon="add"
        link="{{'/' + newCollectionLink}}"
    />
</app-page-header>
<app-collection-list
    [collections]="collections$ | async"
    emptyDescription="All is good, you just haven't created any collections yet 😉"
    emptyHint="To create your first collection click the button in the top right corner with a little plus sign on it"
>
      <ng-template #actions let-collection>
        <div class="action-buttons-container">
            <button mat-icon-button color="primary" aria-label="Edit collection"
                routerLink="{{collection?.['id'] + '/edit'}}">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" aria-label="Delete collection"
                (click)="promptDeleteCollection(collection?.['id'])">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </ng-template>
</app-collection-list>

