<div style="display:flex; justify-content: space-between;">
    <h2>My collections</h2>
    <div *ngIf="(isHandset$ | async); then smallButton else bigButton"></div>
        <ng-template #smallButton>
            <button mat-mini-fab color="primary" routerLink="{{'/' + newCollectionLink}}">
                <mat-icon>add</mat-icon>
            </button>
        </ng-template>
        <ng-template #bigButton>
            <button #bigButton mat-button color="primary" routerLink="{{'/' + newCollectionLink}}">
                <mat-icon>add</mat-icon>
                New collection
            </button>
        </ng-template>
</div>
<app-collection-list type="my" [editable]="true"/>
