.card {
    padding: 16px;
}

.form-field {
    width:100%
}

.links-header {
   margin: 8px 0 -15px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;

   h3 {
    font-weight: 500;
    margin-top: 16px;
   }
}

.right-aligned-button-container {
   display:flex;
   flex-direction:row-reverse ;
}

.list-item-container {
    display:flex;
    justify-content: space-between;
    margin-top: -14px
}

.save-button {
    margin: 10px 16px 16px 0
}

.checkbox {
    margin-left: -10px
}

.add-link-button {
    margin: 26px 0px 22px 0
}

.info-banner-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 1.5rem 3rem 1.5rem;
}