<div *ngIf="selectedCollection;">
    <!-- <div class="back-button-container">
         <button mat-button color="primary" class="add-link-button" type="button" routerLink="..">
            <mat-icon>arrow_back</mat-icon>
            back
        </button>
    </div> -->
    <app-page-header>
        <h2>{{selectedCollection.title}}</h2>
        <ng-container *ngTemplateOutlet="action || null;"></ng-container>
    </app-page-header>
    <mat-card>
        <div *ngIf="selectedCollection.description">
            <p class="collection-description">{{selectedCollection.description}}</p>
            <mat-divider *ngIf="selectedCollection.links.length > 0"></mat-divider>
        </div>
        <mat-list role="link">
            <ng-container *ngFor="let link of selectedCollection.links;let last = last;">
                <mat-list-item role="listitem">
                    <span matListItemTitle><button mat-button color="primary" (click)="goToLink(link)">{{link}}</button></span>
                </mat-list-item>
                <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
        </mat-list >
    </mat-card>
</div>
<p *ngIf="!selectedCollection">Nothing to see here 🤷</p>
