<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <div class="logo-text"><app-logo /></div>
    <div class="action-area-container">
      <mat-nav-list (click)="isHandset && drawer.toggle()">
        <a mat-list-item routerLink={{navigationLinks.MyCollections}} [routerLinkActive]="['is-active']" >My collections</a>
        <a mat-list-item routerLink={{navigationLinks.FavoriteCollections}} [routerLinkActive]="['is-active']">Favorite collections</a>
        <a mat-list-item routerLink={{navigationLinks.Browse}} [routerLinkActive]="['is-active']">Browse</a>
      </mat-nav-list>
       <div *ngIf="user" class="user-area">
        <div class="user-info">
          <img src={{user.photoURL}}/>
          <div>
            <span>{{user.displayName}}</span>
            <button mat-button color="accent" (click)="logOut()">
              <mat-icon>logout</mat-icon>
              Log out
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>link-manager</span>
    </mat-toolbar> -->
    <div class="content-area-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
