<div style="background-color:#efefef; border-radius: 10px; display:flex; padding: 5px; overflow:hidden">
  <div>
    <div *ngIf="user">
      <p>You are logged in as</p>
      <p *ngIf="user"><b>{{user.displayName}}</b></p>
    </div>

    <a href="javascript:void(0)" (click)="logOut()" >Log out</a>
    <ul>
      <li><a routerLink={{navigationLinks.MyCollections}}>My collections</a></li>
      <li><a routerLink={{navigationLinks.DiscoveredCollections}}>Discovered collections</a></li>
      <li><a routerLink={{navigationLinks.Activity}}>Activity</a></li>
      <li><a routerLink={{navigationLinks.Settings}}>Settings</a></li>
    </ul>
  </div>
  <div style="width: 100%">
    <router-outlet></router-outlet>
  </div>
</div>
