.sidenav-container {
  height: 100vh;
  max-height: 800px;
  max-width: 1200px;
  margin: auto;
  border: 1px rgba(0,0,0,.12);
  border-style: none solid solid solid;
  // box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); // md
  // box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); // xl
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); // lg
  overflow: hidden;
  border-bottom-right-radius: 0.5rem; /* 8px */
  border-bottom-left-radius: 0.5rem; /* 8px */
  @media (pointer: coarse)  {
    /* mobile device */
    max-height: 1180px;
  }
}

.sidenav {
  width: 260px;
  height: 100vh;
  max-height: 800px;
  border-bottom: 1px rgba(0,0,0,.12);
  border-bottom-left-radius: 0.5rem;
  @media (pointer: coarse)  {
    /* mobile device */
    max-height: 1180px;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.is-active {
    background-color: #f6f6f6;
}

.user-area {
  padding: 16px;
}
