.sidenav-container {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  border: 1px rgba(0,0,0,.12);
  border-style: none solid none solid;
  // box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.sidenav {
  width: 260px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.is-active {
    background-color: #f6f6f6;
}

.user-area {
  padding: 16px;
}
