<div *ngIf="selectedCollection;">
    <div class="back-button-container">
        <a routerLink="..">back</a>
    </div>
    <app-page-header>
        <h2>{{selectedCollection.title}}</h2>
        <ng-container *ngIf="editable">
             <app-responsive-button
                label="Edit collection"
                icon="edit"
                link="edit"
            />
        </ng-container>
    </app-page-header>
    <mat-card>
        <p class="collection-description">{{selectedCollection.description}}</p>
        <mat-list role="link">
            <ng-container *ngFor="let link of selectedCollection.links;let last = last;">
                <mat-list-item role="listitem">
                    <span matListItemTitle><button mat-button color="primary" (click)="goToLink(link)">{{link}}</button></span>
                </mat-list-item>
                <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
        </mat-list >
    </mat-card>
</div>
<p *ngIf="!selectedCollection">Nothing to see here 🤷</p>
