<app-page-header>
    <h2>Browse public collections</h2>
</app-page-header>
<app-collection-list
    [collections]="collections$ | async"
    emptyDescription="Whoops, it seems that others havent shared any of their collections yet 🤷"
    emptyHint="Nothing you can do about this one, but wait until someone makes their collections public"
>
    <ng-template #actions let-collection>
        <button *ngIf="isFavorite(collection?.['id'])|async; else unfav" class="ping" mat-icon-button color="primary" aria-label="Unfave collection"
            (click)="unfaveCollection(collection?.['id'])">
            <mat-icon>favorite</mat-icon>
        </button>
        <ng-template #unfav>
            <button mat-icon-button color="primary" aria-label="Fave collection"
            (click)="faveCollection(collection?.['id'])">
            <mat-icon>favorite_border</mat-icon>
        </button>
        </ng-template>
    </ng-template>
</app-collection-list>
