.collection-item-container {
    display: flex;
}

.collection-description-container {
    padding: 8px;
}

.collection-action-container {
    display: flex;
    align-items: center;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 4rem;
}
