<h2>Create new collection</h2>
<form [formGroup]="newCollectionForm" (ngSubmit)="save()">
    <div style="display:flex; flex-direction: column; margin-bottom: 10px">
        <span>Title:</span>
        <input formControlName="title" type="text" size="10" required/>
        <span *ngIf="saveAttempt && title && title.errors?.['required']"
               style="color: red">New collections must contain title ☝️ </span>
    </div>
    <div style="display:flex; flex-direction: column; margin-bottom: 10px">
        <span>Description:</span>
        <textarea formControlName="description" name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
        <span>Visible to others:</span>
        <input formControlName="public" type="checkbox" />
    </div>
    <div style="display:flex; flex-direction:row-reverse ;width: 100%; margin-top: 10px; margin-bottom: 10px">
        <button>Save</button>
    </div>
</form>